.headerBar {
    @apply flex justify-between md:pt-6 md:pb-1 py-4 px-2 w-full top-0 bg-gray-800;
}

.headerBarNavStyle {
    @apply text-gray-300 text-xl mx-2 tracking-wider font-medium cursor-pointer transition duration-300 transform hover:text-gray-400 hover:-translate-y-1;
}

/* .headerBarNavStyle::after {
    content: '\007C';
    color: white;
} */

.headerBarNavStyle-notNow {
    @apply h-full ;
}

.headerBarNavStyle-now {
    @apply border-b-2 pb-3;
}

.subNavStyle {
    @apply hidden right-0 leading-loose text-gray-300 bg-gray-800 px-4 pt-6 pb-4 min-w-full shadow-md rounded-b-md; /**/
}

.subNavStyle-text {
    @apply py-1 text-center transform hover:scale-105;
}

div.headerBarNavStyle.relative:hover > div.absolute.subNavStyle {
    display: block;
}

.SubNavStyle-now {
    @apply text-gray-100;
}